<div class='recipes'>
  {{#each recipes}}
    <div class='recipe-card'>
      <img src="{{this.image}}" alt="" width="300" />
      <div class="card-content">
      <h3> <a href="/recipes/{{this._id}}"> {{this.title}} </a></h3>
      <span class='duration'>🕒 {{this.duration}} mins</span>
      <span class='servings'>Serves {{this.servings}}</span>
      <span class='dish-type'>{{this.dishType}}</span>
      {{!-- <p>{{this.introduction}}</p> --}}
      </div>
      {{#if this.isCreator}}
        <form action="/recipes/{{this._id}}/delete" method="POST">
          <button type="submit">Delete</button>
        </form>
      {{/if}}
    </div>
  {{/each}}
</div>